* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --html-bgclr: hsl(0, 0%, 6%);
  --html-clr: #e1e1e1;
  --input-bgclr: #e1e1e1;
  --input-clr: #000000;
  --input-brdclr: #000000;
  --btn-bgclr: hsl(0, 0%, 20%);
  --btn-bgclr-hover: hsl(0, 0%, 40%);
  --btn-bgclr-active: hsl(0, 0%, 30%);
  --btn-clr: #ffffff;
  --btn-brdclr: #000000;

  --html-padding: 1rem;
  --body-gap: 1rem;

  --title-container-fontsize: 3rem;
  --actions-container-gap: 1rem;

  --site-container-gap: 1rem;
  --site-item-list-gap: 1rem;
  --site-item-list-padding: 1rem;
  --site-item-list-height: calc(100dvh - calc(var(--title-container-fontsize) * 2) - calc(var(--html-padding) * 2) - calc(var(--body-gap) * 2));
  --site-item-list-maxwidth: calc(100dvh - calc(var(--title-container-fontsize) * 2) - calc(var(--html-padding) * 2) - calc(var(--body-gap) * 2));
  --site-item-width: 7rem;
  --site-item-fontsize: 0.8rem;
  --site-bgclr: hsl(0, 0%, 15%);
  --site-bgclr-hover: hsl(0, 0%, 20%);
  --site-clr: #e1e1e1;

  --clock-container-gap: 1rem;
}

.swal2-popup {
  width: 100%;
  max-width: 50ch;
}

html {
  background-color: var(--html-bgclr);
  color: var(--html-clr);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: var(--html-padding);
}

body {
  display: grid;
  grid-auto-flow: column;
  gap: var(--body-gap);
  align-items: start;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "SEARCH SEARCH"
    "SITE CLOCK";
}

button {
  background-color: var(--btn-bgclr);
  border: 1px solid var(--btn-brdclr);
  color: var(--btn-clr);
  padding: 0.5rem;
  border-radius: 0;
  cursor: pointer;
  font-size: 1rem;
  min-width: fit-content;
}

button:hover {
  background-color: var(--btn-bgclr-hover);
}

button:active {
  background-color: var(--btn-bgclr-active);
}

input[type="text"],
input[type="search"] {
  background-color: var(--input-bgclr);
  color: var(--input-clr);
  border: 1px solid var(--input-brdclr);
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0;
  width: 100%;
}

.form {
  display: grid;
  gap: 0.5rem;
}

.form.vertical {
  grid-auto-flow: row;
}

.form-actions {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}

.container-title {
  font-size: var(--title-container-fontsize);
  line-height: var(--title-container-fontsize);
}

.actions-container {
  gap: var(--actions-container-gap);
}

.grid-container {
  display: grid;
}

.grid-container.col {
  grid-auto-flow: column;
}

.grid-container.row {
  grid-auto-flow: row;
}

.flex-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.search-page-container {
  grid-area: SEARCH;
}

.site-container {
  gap: var(--site-container-gap);
}

.site-item-list {
  width: 100%;
  gap: var(--site-item-list-gap);
  /* max-height: var(--site-item-list-maxwidth); */
  height: var(--site-item-list-height);
  overflow-y: scroll;
  overflow-x: hidden;
  justify-items: center;
  align-content: start;
  padding: var(--site-item-list-padding);
  grid-template-columns: repeat(auto-fill, minmax(var(--site-item-width), 1fr));
}

.site-item {
  background-color: var(--site-bgclr);
  width: var(--site-item-width);
  height: var(--site-item-width);
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  gap: 0.5rem;
  position: relative;
  transition: 0.1s ease-out scale, background-color;
}

.site-item a {
  z-index: 1;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 4.5rem 1rem;
  text-decoration: none;
  padding: 0.5rem;
  height: 100%;
  align-content: space-between;
}

.site-item img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  justify-self: center;
  align-self: center;
}

.site-item p {
  font-size: var(--site-item-fontsize);
  line-height: var(--site-item-fontsize);
  max-lines: 1;
  text-align: center;
  color: var(--site-clr);
  word-break: break-all;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.site-item button {
  z-index: 2;
  position: absolute;
  right: -10%;
  top: -10%;
  display: none;
}

.site-item:hover,
.site-item:focus {
  background-color: var(--site-bgclr-hover);
  scale: 1.1;
}

.site-item:hover button,
.site-item:focus button {
  display: block;
}

.clock-container {
  gap: var(--clock-container-gap);
}

.clock-item-list {
  height: var(--site-item-list-height);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 50rem) {
  html {
    font-size: 0.5rem;
  }

  body {
    grid-template-areas:
      "SEARCH"
      "CLOCK"
      "SITE";
  }

  :root {
    --site-item-list-height: calc(calc(100dvh - calc(var(--title-container-fontsize) * 3) - calc(var(--html-padding) * 2) - calc(var(--body-gap) * 2) - calc(var(--site-container-gap) + var(--clock-container-gap))) / 2);
    --site-item-list-gap: 1.5rem;
  }

  .swal2-popup {
    max-width: 90%;
  }

  .site-item button {
    display: block;
  }
}
