* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --html-bgclr: hsl(0, 0%, 10%);
  --html-clr: #e1e1e1;
  --input-bgclr: #e1e1e1;
  --input-clr: #000000;
  --input-brdclr: #000000;
  --btn-bgclr: hsl(0, 0%, 50%);
  --btn-bgclr-hover: hsl(0, 0%, 40%);
  --btn-bgclr-active: hsl(0, 0%, 30%);
  --btn-clr: #ffffff;
  --btn-brdclr: #000000;

  --body-padding: 1rem;
  --body-gap: 1rem;

  --btn-fontsize: 1rem;
  --btn-icon-fontsize: 1rem;

  --widget-gap: 1rem;

  --site-list-gap: 1rem;
  --site-list-padding: 1rem;
  --site-item-img-size: 1.5rem;
  --site-item-gap: 0.5rem;
  --site-item-padding: 1rem;
  --site-item-clr: white;
  --site-item-bg-clr: rgba(255, 255, 255, 0.1);
  --site-item-btn-offset: -0.5rem;
  --site-item-btn-bg-clr: rgba(255, 255, 255, 0.05);
  --site-item-btn-clr: white;

  --clock-list-gap: 1rem;
  --clock-list-padding: 1rem;
  --clock-item-gap: 0.1rem;
  --clock-item-padding: 1rem;
  --clock-item-bg-clr: rgba(255, 255, 255, 0.05);
  --clock-item-time-fontsize: 2rem;
  --clock-item-name-fontsize: 0.8rem;
  --clock-item-btn-offset: -0.5rem;
  --clock-item-btn-bg-clr: rgba(255, 255, 255, 0.05);
  --clock-item-btn-clr: white;
}

.swal2-popup {
  width: 100%;
  max-width: 50ch;
}
body.swal2-height-auto {
  height: 100dvh !important;
}
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  height: 100dvh !important;
}

.material-icons {
  font-size: 1em;
  line-height: 1em;
  width: 1em;
  height: 1em;
}

html {
  background-color: var(--html-bgclr);
  color: var(--html-clr);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: grid;
  height: 100dvh !important;
  max-height: 100dvh;
  padding: var(--body-padding);
  gap: var(--body-gap);
  grid-template-areas: "SEARCH CLOCK" "SITE CLOCK";
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 20rem;
  grid-template-rows: 1fr 30rem;
  overflow: hidden;
}

input,
select,
.label-checkbox {
  font-size: 1rem;
  padding: 0.25em 0.5em;
  border: 1px solid gray;
  border-radius: 0.2em;
}

input:invalid {
  background-color: rgba(255, 0, 0, 0.05);
}

.label-checkbox {
  cursor: pointer;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

form.grid.vertical {
  gap: 1rem;
}

form .grid.horizontal {
  gap: 1rem;
}

.btn {
  cursor: pointer;
  font-size: var(--btn-fontsize);
  padding: 0.25em 0.5em;
}

.btn-icon {
  cursor: pointer;
  font-size: var(--btn-icon-fontsize);
  width: 1.5em;
  height: 1.5em;
  display: grid;
  justify-content: center;
  align-content: center;
}

.search-engine-list-container {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  max-height: 10rem;
  overflow: auto;
}

.grid {
  display: grid;
}

.grid.vertical {
  grid-auto-flow: row;
  align-content: center;
}

.grid.horizontal {
  grid-auto-flow: column;
  justify-content: center;
}

.grid-actions {
  display: grid;
  grid-auto-flow: column;
}

.widget-container {
  gap: var(--widget-gap);
}

.widget-container.widget-search {
  grid-area: SEARCH;
}

.widget-container.widget-site {
  grid-area: SITE;
  height: 100%;
  width: 100%;
}

.widget-container.widget-clock {
  grid-area: CLOCK;
  height: 100%;
  width: 100%;
}

.widget-container .widget-form-actions,
.widget-container .widget-actions {
  align-items: center;
  gap: 0.5rem;
}

.widget-container.widget-site .widget-list-item {
  display: flex;
  flex-wrap: wrap;
  gap: var(--site-list-gap);
  padding: var(--site-list-padding);
  justify-content: center;
  align-content: start;
  overflow-y: auto;
}
.widget-container.widget-site .widget-item {
  position: relative;
  background-color: var(--site-item-bg-clr);
}
.widget-container.widget-site .widget-item a {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: var(--site-item-gap);
  padding: var(--site-item-padding);
  text-decoration: none;
}
.widget-container.widget-site .widget-item img {
  width: var(--site-item-img-size);
  height: var(--site-item-img-size);
  object-fit: contain;
}
.widget-container.widget-site .widget-item p {
  color: var(--site-item-clr);
}
.widget-container.widget-site .widget-item .btn-icon {
  position: absolute;
  right: var(--site-item-btn-offset);
  top: var(--site-item-btn-offset);
  background-color: var(--site-item-btn-bg-clr);
  color: var(--site-item-btn-clr);
  border: none;
  display: none;
}
.widget-container.widget-site .widget-item:hover .btn-icon {
  display: grid;
}

.widget-container.widget-clock .widget-list-item {
  display: grid;
  grid-auto-flow: row;
  gap: var(--clock-list-gap);
  padding: var(--clock-list-padding);
  align-content: start;
  overflow-y: auto;
}
.widget-container.widget-clock .widget-item {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  background-color: var(--clock-item-bg-clr);
  gap: var(--clock-item-gap);
  padding: var(--clock-item-padding);
}
.widget-container.widget-clock .widget-item .time {
  font-size: var(--clock-item-time-fontsize);
  font-weight: bold;
}
.widget-container.widget-clock .widget-item .name {
  font-size: var(--clock-item-name-fontsize);
  text-align: end;
}
.widget-container.widget-clock .widget-item .btn-icon {
  position: absolute;
  right: var(--clock-item-btn-offset);
  top: var(--clock-item-btn-offset);
  background-color: var(--clock-item-btn-bg-clr);
  color: var(--clock-item-btn-clr);
  border: none;
  display: none;
}
.widget-container.widget-clock .widget-item:hover .btn-icon {
  display: grid;
}

@media (max-width: 50rem) {
  :root {
    --clock-item-time-fontsize: 1rem;
    --clock-item-name-fontsize: 0.5rem;
  }

  .swal2-popup {
    max-width: 90%;
  }

  .swal2-html-container {
    padding: 1rem;
    justify-items: center;
  }

  .swal2-html-container * {
    max-width: 70dvw;
  }

  body {
    grid-template-areas: "CLOCK" "SEARCH" "SITE";
    grid-template-columns: 1fr;
    grid-template-rows: 20dvh 1fr 50dvh;
  }

  .widget-container.widget-container.widget-search .grid.horizontal {
    grid-auto-flow: row;
    justify-items: center;
  }

  .widget-container.widget-clock .widget-list-item {
    grid-template-columns: 1fr 1fr;
  }

  .widget-container.widget-site .widget-item .btn-icon {
    display: grid;
  }
  .widget-container.widget-clock .widget-item .btn-icon {
    display: grid;
  }
}
